1. Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.

T(n) = 3T(n-1) + 12n

T(2) = 3T(2-1) + 12*2
     = 3T(1) + 24
    
Now, we have to find T(1) by recurrence relation

T(n) = 3T(n-1) + 12n

T(1) = 3T(1-1) + 12*1
     = 3T(0) + 12
     = 3*5 + 12
     = 15 +12
     = 27
        
now put value of T(1) in above euation

T(2) = 3T(1) + 24
     = 3*27 + 24
     = 81 + 24
     = 105
T(2) = 105

2. Given a recurrence relation, solve it using the substitution method:

a. T(n) = T(n-1) + c

b. T(n) = 2T(n/2) + n

c. T(n) = 2T(n/2) + c

d. T(n) = T(n/2) + c

T(n) = T(n-1) + c --(1)

T(n-1) = T(n-1-1) + c
T(n-1) = T(n-2) + c -- (2)

T(n-2) = T(n-2-1) + c
T(n-2) = T(n-3) + c -- (3)

Now from equation (1): -

T(n) = T(n-1) + c
T(n) = T(n-2) + c + c  :Put vlaue of T(n-1) from equation 2
T(n) = T(n-2) + 2c
T(n) = T(n-3) + c + 2c  :Put value of T(n-2) from equation 3
T(n) = T(n-3) + 3c
    .
    .
    k times
    .
    .
T(n) = T(n-k) + k*c

from base condition
n-k = 1
k = n-1

T(n) = T(1) + (n-1)c

b. T(n) = 2T(n/2) + n

    T(n) = 2T(n/2) + n -- (1)
    T(n/2) = 2T(n/2**2) + n/2 --(2)
    T(n/2**2) = 2T(n/2**3) + n/2**2 --(3)
    
    Put value of T(n/2) from equation from 2 in equation 1:
    
    T(n) = 2[2T(n/2**2) + n/2] + n
    T(n) = 2**2T(n/2**2) + 2n
    
    put value of T(n/2**2) from equation 2 in above equation:
    
    T(n) = 2**2[2T(n/2**3) + n/2**2] + 2n
    T(n) = 2**3T(n/2**3) + 3n
        .
        .
        k times
        .
        .
    T(n) = 2**kT(n/2**k) + kn  --(4)
    
    from base condition: -
    
    n/2**k = 1
    n = 2**k
    take log both sides
    
    logn = klog2
    k = log2^n
    
    put above value in equation 4
    
    T(n) = nT(1) + nlog2^n
    T(n) = n + nlog2^n

T(n) = 2T(n/2) + c  --(1)

T(n/2) = 2T(n/2^2) + c  --(2)

T(n/2^2) = 2T(n/2^3) + c --(3)

now from equation:-
    
    T(n) = 2T(n/2) + c
    T(n) = 2[2T(n/2^2) + c] + c
    T(n) = 2^2T(n/2^2) + 2^1c +c
    T(n) = 2^2T(n/2^2) + 2^C + c
    
    T(n) = 2^2[2T(n/2^3) + c] + 2^1c + c
    T(n) = 2^3T(n/2^3) + 2^2c + 2^1c + c
    T(n) = 2^3T(n/2^3) + 2^2c + 2^1c + 2^0c
        .
        .
        k times
        .
        .
    T(n) = 2^kT(n/2^k) + 2^(k-1)c + 2^(k-2)c + ..... + 2^0c -- (4)
    
    from base condition: -
     n/2^k = 1
     n = 2^k
     take log both sides
     k = log2^n
     
     keep above value in equation 4:-
     
     T(n) = nT(1) + 2^(log2^n -1)c + 2^(log2^n-2)c + .. +2^0c
     T(n) = n + nlog2^n

T(n) = T(n/2) + c --(1)

T(n/2) = T(n/2^2) + c --(2)
T(n/2^2) = T(n/2^3) + c --(3)

keep value of T(n/2) and T(n/n^2) from equation from 2 and 3 in equation 1

T(n) = T(n/2^2) + c + c

T(n) = T(n/2^3) + c + c + c
    .
    .
    k times
T(n) = T(n/2^k) + kc

from base condition

    n/2^k = 1
    n = 2^k
    take log both sides
    k = log2^n
    
 T(n) = T(1) + clog2^n
 T(n) = 1 + clog2^n

3. Given a recurrence relation, solve it using the recursive tree approach:
a. T(n) = 2T(n-1) +1
b. T(n) = 2T(n/2) + n

T(n) = 2T(n-1) +1 b

                                        2T(n-1) - 1
                                       !        !
                                       n-1      n-1 - 2
                                      !   !    !   !
                                     n-2  n-2  n-2  n-2 - 4
                                     
                                             .
                                             .
                                             k times
                                             .
                                             .
base condition: -

n-k = 0
n = k


= 2^0 + 2^1 + 2^2 + .....+ 2^n


= 2^0(2^n-1)/(2-1)
= 1(2^n-1)
= 2^n -1

T(n) = 2T(n/2) + n

                    T(n)
                 !            !
              T(n/2)        T(n/2)
           !         !    !       !
         T(n/4)  T(n/4)  T(n/4)   T(n/4)
         
         
In general, for each level i, there are 2^i nodes, and each node has a cost of n/2^i

The total cost at each level is 2^i * n/2^i = n

Now there are log2n levels in three.


T(n) = n * log2n

T(n) = nlog2n