In [1]:
'''1. Write a program to reverse a string.'''

'1. Write a program to reverse a string.'

In [3]:
str1 = 'pratham'
print(str1[::-1])

mahtarp

In [4]:
'''2. Check if a string is a palindrome.'''

'2. Check if a string is a palindrome.'

In [7]:
str2 = input('Enter any string: ')

if str2 == str2[::-1]:
    print(f'Given string {str2} is a palindrome.')
else:
    print(f'Given string {str2} is not a palindrome.')

Enter any string: apa
Given string apa is a palindrome.

In [8]:
'''3. Convert a string to uppercase.'''

'3. Convert a string to uppercase.'

In [9]:
str3 = input('Enput any string: ')

print(str3.upper())

Enput any string: pratham
PRATHAM

In [10]:
'''4. Convert a string to lowercase.'''

'4. Convert a string to lowercase.'

In [11]:
str4 = input('Enter any string: ')

print(str4.lower())

Enter any string: PrAtham
pratham

In [12]:
'''5. Count the number of vowels in a string.'''

'5. Count the number of vowels in a string.'

In [14]:
str5 = input('Enter any string: ')
count = 0
for i in str5:
    if i in 'aeiouAEIOU':
        count +=1
    else:
        pass
print(f'Total number of vowels in {str5} is {count}.')

Enter any string: pratham singh
Total number of vowels in pratham singh is 3.

In [15]:
'''6. Count the number of consonants in a string.'''

'6. Count the number of consonants in a string.'

In [17]:
str6 = input('Enter any string: ')
count = 0

for i in str6:
    if i in 'aeiouAEIOU':
        pass
    elif i in ' ':
        pass
    else:
        count +=1
print(f'The total number of consonants is {count}.')

Enter any string: pratham singh
The total number of constants is 9.

In [20]:
str6 = input('Enter any string: ')
count = 0

for i in str6:
    if i.isalpha() and i not in 'aeiouAEIOU':
        count +=1
    else:
        pass
print(f'The total number of constonants is {count}.')

Enter any string: pratham singh
The total number of constonants is 9.

In [21]:
'''7. Remove all whitespaces from a string.'''

'7. Remove all whitespaces from a string.'

In [25]:
str7 = input('Enter any string: ')

print(str7.replace(' ', ''))

Enter any string: pratham singh
prathamsingh

In [26]:
'''8. Find the length of a string without using the `len()` function.'''

'8. Find the length of a string without using the `len()` function.'

In [28]:
str8 = input('Enter any string: ')
length = 0

for i in str8:
    length +=1
print(f'The length of given string {str8} is {length}.')

Enter any string: pratham singh
The length of given string pratham singh is 13.

In [29]:
'''9. Check if a string contains a specific word.'''

'9. Check if a string contains a specific word.'

In [36]:
str9 = input('Enter any string: ')

specific_word = input('Enter that specific word: ').strip()

if specific_word in str9:
    print(f'Given string does contain specific word {specific_word}.')

Enter any string: pratham singh is a good boy.
Enter that specific word: boy
Given string does contain specific word boy.

In [35]:
input_string = input("Enter a string: ")
search_word = input("Enter the word to check: ")

if search_word in input_string:
    print(f"The string contains the word '{search_word}'.")
else:
    print(f"The string does not contain the word '{search_word}'.")

Enter a string: pratham singh is good boy
Enter the word to check: boy
The string contains the word 'boy'.

In [37]:
'''10. Replace a word in a string with another word.'''

'10. Replace a word in a string with another word.'

In [38]:
str10 = 'Pratham is a good boy.'

print(str10.replace('Pratham', 'Dhiraj'))

Dhiraj is a good boy.

In [39]:
'''11. Count the occurrences of a word in a string.'''

'11. Count the occurrences of a word in a string.'

In [41]:
str11 = 'Pratham is a good boy and he is from Patna Bihar. Pratham is a software enginner and he is too god in maths.'

word11 = 'Pratham'

print(str11.count(word11))

2

In [42]:
'''12. Find the first occurrence of a word in a string.'''

'12. Find the first occurrence of a word in a string.'

In [57]:
str12 = 'Pratham is a good boy and he is from Patna Bihar. Pratham is a software enginner and he is too god in maths.'

word12 = 'he'

str12_list = str12.split()

if word12 in str12_list:
    print(f'Word {word12} is found in given string at index {str12_list.index(word12)}.')
else:
    print(f'Word {word12} is not found in given string.')

Word he is found in given string at index 6.

In [58]:
input_string = input("Enter a string: ")
search_word = input("Enter the word to find: ")

# Use str.find() to find the first occurrence of the word
index = input_string.lower().find(search_word.lower())

if index != -1:
    print(f"The word '{search_word}' was found at index {index}.")
else:
    print(f"The word '{search_word}' was not found in the string.")

Enter a string: pratham is a good boy. He is good in maths.
Enter the word to find: he
The word 'he' was found at index 23.

In [61]:
input_string = input('Enter any string: ')
search_word = input('Enter the words to find: ')

index = input_string.lower().find(search_word.lower())

if index != -1:
    print(f'The word {search_word} was found at index {index} in the string.')
else:
    print(f'The word {search_word} was not found in the string.')

Enter any string: Pratham is a good boy and he is good in maths.
Enter the words to find: is
The word is was found at index 8 in the string.

In [62]:
'''13. Find the last occurrence of a word in a string.'''

'13. Find the last occurrence of a word in a string.'

In [72]:
str13 = input('Enter any string: ')
word13 = input('Enter the words to find: ')

index = str13.lower().rfind(word13.lower())

if index !=-1:
    print(f'The word {word13} was found at index {index} in the string.')
else:
    print(f'The word {word13} was not found in the string.')

Enter any string: Mt name is pratham singh. he is a good man.
Enter the words to find: he
The word he was found at index 26 in the string.

In [73]:
'''14. Split a string into a list of words.'''

'14. Split a string into a list of words.'

In [74]:
str14 = input('Enter any string: ')

print(str14.split())

Enter any string: pratham is a good boy
['pratham', 'is', 'a', 'good', 'boy']

In [75]:
'''15. Join a list of words into a string.'''

'15. Join a list of words into a string.'

In [79]:
list15 = ['Pratham', 'is', 'a', 'good', 'man.']

str = ''

for i in list15:
    str =str+i
print(str)

Prathamisagoodman.

In [81]:
word15 = ['Hello!', 'How', 'are', 'you', 'doing?']

print(''.join(word15))

Hello!Howareyoudoing?

In [85]:
'''16. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

'16. Convert a string where words are separated by spaces to one where words\nare separated by underscores.'

In [88]:
str16 = input('Enter any string: ')

result = str16.replace(' ', '_')
print(result)

Enter any string: My name is Pratham Singh.
My_name_is_Pratham_Singh.

In [89]:
'''17. Check if a string starts with a specific word or phrase.'''

'17. Check if a string starts with a specific word or phrase.'

In [98]:
str17 = input('Enter any string: ')

word17 = input('Enter the words: ')
print(str17[0:len(word17)+1])

if word17.lower().strip() == str17[0:len(word17)+1].lower().strip():
    print(f'Given string starts with word {word17}.')
else:
    print(f'Given string doe not start with word {word17}.')

Enter any string: Pratham is a good boy.
Enter the words: Pratham
Pratham
Given string starts with word Pratham.

In [102]:
str117 = input('Enter any string: ')

word117 = input('Enter the words: ')

if str117.split()[0].lower().strip() == word117.lower().strip():
    print(f'Given string starts with word {word117}.')
else:
    print(f'Given string doe not start with word {word117}.')

Enter any string: Pratham is a good boy.
Enter the words: pratham
Given string starts with word pratham.

In [103]:
'''18. Check if a string ends with a specific word or phrase.'''

'18. Check if a string ends with a specific word or phrase.'

In [104]:
str18 = input('Enter any strings: ')
word18 = input('Enter the words: ')

if str18.split()[-1].lower().strip() == word18.lower().strip():
    print(f'Given string ends with word {word18}.')
else:
    print(f'Given string does not end with word {word18}.')

Enter any strings: My name is Pratham Singh
Enter the words: Singh
Given string ends with word Singh.

In [105]:
'''19. Convert a string to title case (e.g., "hello world" to "Hello World").'''

'19. Convert a string to title case (e.g., "hello world" to "Hello World").'

In [106]:
str19 = input('Enter any string: ')

print(str19.title())

Enter any string: Pratham singh is a good boy.
Pratham Singh Is A Good Boy.

In [107]:
'''20. Find the longest word in a string.'''

'20. Find the longest word in a string.'

In [113]:
str20 = input('Enter any string: ')
str20_list = str20.split()
print(str20_list)
max(str20_list, key = len)

Enter any string: Pratham Singh is a software engineer.
['Pratham', 'Singh', 'is', 'a', 'software', 'engineer.']

'engineer.'

In [114]:
'''21. Find the shortest word in a string.'''

'21. Find the shortest word in a string.'

In [115]:
str21 = input('Enter any string: ')
str21_list = str21.split()
print(str21_list)
min(str21_list, key = len)

Enter any string: I am a software engineer.
['I', 'am', 'a', 'software', 'engineer.']

'I'

In [117]:
'''22. Reverse the order of words in a string.'''

'22. Reverse the order of words in a string.'

In [122]:
str22 = 'New Delhi is the capital of India'

str22_list = str22.split()

str22_list_reverse = str22_list[::-1]

print(' '.join(str22_list_reverse))

India of capital the is Delhi New

In [123]:
'''23. Check if a string is alphanumeric.'''

'23. Check if a string is alphanumeric.'

In [127]:
str23 = input('Enter any string: ')

if str23.isalnum():
    print('Given string is alphanumeric.')
else:
    print('Given string is not a alphanumeric.')

Enter any string: pratham2301
Given string is alphanumeric.

In [128]:
'''24. Extract all digits from a string.'''

'24. Extract all digits from a string.'

In [136]:
str24 = 'pratham2301'

for i in str24:
    if i.isdigit():
        print(i)

2
3
0
1

In [137]:
'''25. Extract all alphabets from a string.'''

'25. Extract all alphabets from a string.'

In [138]:
str25 = 'Pratham2301Singh'

for i in str25:
    if i.isalpha():
        print(i)
    else:
        pass

P
r
a
t
h
a
m
S
i
n
g
h

In [139]:
'''26. Count the number of uppercase letters in a string.'''

'26. Count the number of uppercase letters in a string.'

In [142]:
str26 = 'Pratham Singh is 23 years old.'
count = 0
for i in str26:
    if i.isupper():
        count+=1
    else:
        pass
print(count)

2

In [141]:
'''27. Count the number of lowercase letters in a string.'''

'27. Count the number of lowercase letters in a string.'

In [143]:
str27 = 'Pratham Singh is 23 years old.'

count = 0

for i in str27:
    if i.islower():
        count +=1
    else:
        pass
print(count)

20

In [144]:
'''28. Swap the case of each character in a string.'''

'28. Swap the case of each character in a string.'

In [149]:
str28 = 'Pratham Singh is a good boy.'
str28_new = []
for i in str28:
    if i.isupper():
        i = i.lower()
        str28_new.append(i)
        
    elif i.islower():
        i = i.upper()
        str28_new.append(i)
print(str28_new)
print(' '.join(str28_new))

['p', 'R', 'A', 'T', 'H', 'A', 'M', 's', 'I', 'N', 'G', 'H', 'I', 'S', 'A', 'G', 'O', 'O', 'D', 'B', 'O', 'Y']
p R A T H A M s I N G H I S A G O O D B O Y

In [150]:
str28 = 'New Delhi is the capital of India.'

print(str28.swapcase())

nEW dELHI IS THE CAPITAL OF iNDIA.

In [151]:
'''29. Remove a specific word from a string.'''

'29. Remove a specific word from a string.'

In [154]:
str29 = 'I love my India, India is heaven.'

str29_list = str29.split()

for i in str29_list:
    if i.lower() == 'my':
        str29_list.remove(i)
print(' '.join(str29_list))

I love India, India is heaven.

In [155]:
str29 = 'My name is Pratham Kumar Singh.'

result = str29.replace('Kumar', '')
print(result)

My name is Pratham  Singh.

In [156]:
'''30. Check if a string is a valid email address.'''

'30. Check if a string is a valid email address.'

In [165]:
str30 = input('Enter any email address: ')

if str30.count('@') == 1:
    local_part, domain_part = str30.split('@')
    
    if local_part != '' and domain_part != '':
        if domain_part.count('.') == 1:
            print(f'Given email address {str30} is a valid email address.')
        else:
            print(f'Given email address {str30} is not a valid email address.')
    else:
        print(f'Given email address {str30} is not a valid email address.')
else:
    print(f'Given email address {str30} is not a valid email address.')

Enter any email address: dsd
Given email address dsd is not a valid email address.

In [164]:
'''31. Extract the username from an email address string.'''

'31. Extract the username from an email address string.'

In [166]:
str31 = input('Enter your email address: ')

if str31.count('@') == 1:
    local_part, domain_part = str31.split('@')
    if local_part != '' and domain_part !='':
        print(f'The username from given email address {str31} is {local_part}.')
    else:
        print('Invalid email address. Please enter a valid email address.')

Enter your email address: peatha@gmail.com
The username from given email address peatha@gmail.com is peatha.

In [167]:
str31 = 'prathamking8@gmail.com'

print(str31.split('@')[0])

prathamking8

In [168]:
'''32. Extract the domain name from an email address string.'''

'32. Extract the domain name from an email address string.'

In [170]:
str32 = 'prathamking8@gmail.com'

print(str32.split('@')[1])

gmail.com

In [171]:
'''33. Replace multiple spaces in a string with a single space.'''

'33. Replace multiple spaces in a string with a single space.'

In [172]:
str33 = 'This   is      my book.'

str33_list = str33.split()

print(' '.join(str33_list))

This is my book.

In [173]:
'''34. Check if a string is a valid URL.'''

'34. Check if a string is a valid URL.'

In [178]:
str34 = input('Enter any valid URL:')

if str34.count('.') >= 2:
    www_part, domain_part, com_part = str34.split('.')
    if www_part.lower() == 'www' and com_part.lower() == 'com' and domain_part != '':
        print(f'Given URL {str34} is a valid URL.')
    else:
        print(f'Given URL {str34} is not a valid URL.')
else:
    print(f'Given URL {str34} is not a valid URL.')

Enter any valid URL:www.facebook.com
Given URL www.facebook.com is a valid URL.

In [179]:
'''35. Extract the protocol (http or https) from a URL string.'''

'35. Extract the protocol (http or https) from a URL string.'

In [182]:
str35 = 'https://www.example.com/path/to/page'

colon_index = str35.find(':')

print(str35[0:colon_index])

https

In [183]:
'''36. Find the frequency of each character in a string.'''

'36. Find the frequency of each character in a string.'

In [236]:
str36 = 'Pratham Singh'.lower()
str36 = str36.replace(' ', '')
count = 0
str36_list =[]
for i in str36:
    str36_list.append(i)
    
str36_set = set(str36_list)
str36_list_from_set = list(str36_set)

for j in str36_list_from_set:
    print(f'The occurance of {j} is', str36_list.count(j))

The occurance of m is 1
The occurance of n is 1
The occurance of h is 2
The occurance of p is 1
The occurance of g is 1
The occurance of t is 1
The occurance of a is 2
The occurance of s is 1
The occurance of r is 1
The occurance of i is 1

In [237]:
'''37. Remove all punctuation from a string.'''

'37. Remove all punctuation from a string.'

In [248]:
str37 = 'My name is Pratham Singh. I am from India. I work in IT sector.'.lower()

str37_without_P = ''

punctuation_list = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

for i in str37:
    if i not in punctuation_list:
        str37_without_P +=i
print(f'Text without punctuation is: {str37_without_P}.')

Text without punctuation is: my name is pratham singh i am from india i work in it sector.

In [249]:
'''38. Check if a string contains only digits.'''

'38. Check if a string contains only digits.'

In [259]:
str38 = input('Enter any string: ')

if str38.isdigit():
    print(f'Given string {str38} contains only digits.')
else:
    print(f'Given string {str38} does not contains only digits.')

Enter any string: 12
Given string 12 contains only digits.

In [260]:
'''39. Check if a string contains only alphabets.'''

'39. Check if a string contains only alphabets.'

In [268]:
str39 = input('Enter any string: ')

if str39.isalpha():
    print(f'Given string {str39} contains only alphabets.')
else:
    print(f'Given string {str39} does not contains only alphabets.')

Enter any string: adsd
Given string adsd contains only alphabets.

In [269]:
'''40. Convert a string to a list of characters.'''

'40. Convert a string to a list of characters.'

In [274]:
str40 = input('Enter any string: ')
str40 = str40.replace(' ', '')
print(str40)
str40_list = []

for i in str40:
    str40_list.append(i)
print(str40_list)

Enter any string: My name is Pratham Singh.
MynameisPrathamSingh.
['M', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'P', 'r', 'a', 't', 'h', 'a', 'm', 'S', 'i', 'n', 'g', 'h', '.']

In [278]:
str40 = input('Enter any string: ')
print(str40)
str40_list = []

for i in str40:
    if i.isalpha():
        str40_list.append(i.lower())

print(str40_list)

Enter any string: My name is pratham Singh.
My name is pratham Singh.
['m', 'y', 'n', 'a', 'm', 'e', 'i', 's', 'p', 'r', 'a', 't', 'h', 'a', 'm', 's', 'i', 'n', 'g', 'h']

In [279]:
'''41. Check if two strings are anagrams.'''

'41. Check if two strings are anagrams.'

In [290]:
str1 = input('Enter 1st string.')
str2 = input('Enter 2nd string.')

anargs = False

if len(str1) == len(str2):
    for i in str1:
        if str1.count(i) == str2.count(i):
            anargs = True
        else:
            anargs = False
else:
    False
if anargs == True:
    print(f'Given string {str1} and {str2} are anagrams.')
else:
    print(f'Given string {str1} and {str2} are not anagrams.')

Enter 1st string.apad
Enter 2nd string.dapa
Given string apad and dapa are anagrams.

In [297]:
str11 = input('Enter 1st string: ').replace(' ', '').lower()
str22 = input('Enter 2nd string: ').replace(' ', '').lower()

if sorted(str11) == sorted(str22):
    print(f'Both string {str11} and {str22} are anagrams.')
else:
    print(f'Both string {str11} and {str22} are not anagrams.')

Enter 1st string: prath am
Enter 2nd string: marh apt
Both string pratham and marhapt are anagrams.

In [298]:
'''42. Encode a string using a Caesar cipher.'''

'42. Encode a string using a Caesar cipher.'

In [301]:
text = "Hello, World!"
shift = 3
encoded_text = ""

for char in text:
    if char.isalpha():
        if char.isupper():
            start = ord('A')
        else:
            start = ord('a')
        
        shifted_char = chr(((ord(char) - start + shift) % 26) + start)
        encoded_text += shifted_char
    else:
        encoded_text += char

print("Encoded text:", encoded_text)

Encoded text: Khoor, Zruog!

In [302]:
'''43. Decode a Caesar cipher encoded string.'''

'43. Decode a Caesar cipher encoded string.'

In [305]:
def caesar_cipher_decode(encoded_text, shift):
    decoded_text = ""

    for char in encoded_text:
        if char.isalpha():
            is_upper = char.isupper()
            char = char.lower()
            decoded_char_code = ord(char) - shift
            if decoded_char_code < ord('a'):
                decoded_char_code += 26
            if is_upper:
                decoded_char_code -= 32

            decoded_char = chr(decoded_char_code)
            decoded_text += decoded_char
        else:
            decoded_text += char

    return decoded_text

encoded_text = "Wdfklv ldfv ddsds whdfsvw pddhvaavdjh."
shift = 3
decoded_text = caesar_cipher_decode(encoded_text, shift)
print("Decoded Text:", decoded_text)

Decoded Text: Tachis iacs aapap teacpst maaesxxsage.

In [306]:
'''44. Find the most frequent word in a string.'''

'44. Find the most frequent word in a string.'

In [315]:
str44 = 'Pratham is a good citizen. Pratham is good in mathematics and he is a software engineer.'.split()

word_freq = {}

for i in str44:
    if i in word_freq:
        word_freq[i] +=1
    else:
        word_freq[i] = 1
print(word_freq)

max_word = max(word_freq, key=word_freq.get)
max_freq = word_freq[max_word]
print(max_word)
print(max_freq)

{'Pratham': 2, 'is': 3, 'a': 2, 'good': 2, 'citizen.': 1, 'in': 1, 'mathematics': 1, 'and': 1, 'he': 1, 'software': 1, 'engineer.': 1}
is
3

In [326]:
str44 = 'Pratham is a good citizen. Pratham is good in mathematics and he is a software engineer.'.split()

max_word = ''
max_freq = 0
dict1 = {}
for i in str44:
    word_freq = str44.count(i)
    
    if word_freq >max_freq:
        max_word = i
        max_freq = word_freq
        
print(f'Word with maximum frequency is: {max_word}')
print(f'Maxumum frequency is {max_freq}')

Word with maximum frequency is: is
Maxumum frequency is 3

In [327]:
'''45. Find all unique words in a string.'''

'45. Find all unique words in a string.'

In [332]:
str45 = 'Pratham is a good citizen. Pratham is good in mathematics and he is a software engineer.'

str45_list = str45.split()
str45_list_set = set(str45_list)
print(str45_list_set)
print(list(str45_list_set))

{'good', 'citizen.', 'he', 'software', 'and', 'engineer.', 'a', 'mathematics', 'in', 'is', 'Pratham'}
['good', 'citizen.', 'he', 'software', 'and', 'engineer.', 'a', 'mathematics', 'in', 'is', 'Pratham']

In [333]:
'''46. Count the number of syllables in a string.'''

'46. Count the number of syllables in a string.'

In [334]:
'''47. Check if a string contains any special characters.'''

'47. Check if a string contains any special characters.'

In [338]:
str47 = input('Enter any string: ').split()
contain_special_character = False

for i in str47:  
    if not i.isalnum():
        contain_special_character = True
        break
if contain_special_character:
    print('Given string contains special character.')
else:
    print('Given string does not contains special character.')

Enter any string: aa
Given string does not contains special character.

In [339]:
'''48. Remove the nth word from a string.'''

'48. Remove the nth word from a string.'

In [392]:
str48 = 'My name is Pratham Singh.'.split()

nth = int(input('Enter nth number, character at that position will remove: '))
print(str48[nth])

str48.remove(str48[nth])
print(f'The {nth}th term has been removed from string:\n', ' '.join(str48))

Enter nth number, character at that position will remove: 2
is
The 2th term has been removed from string:
 My name Pratham Singh.

In [358]:
'''49. Insert a word at the nth position in a string.'''

'49. Insert a word at the nth position in a string.'

In [402]:
str49 = 'My name is Pratham Singh'.split()

nth = int(input('Enter nth position: '))

str49.insert(nth, 'Kumar')

print(f'New string after adding element at {nth}th position in string.', ' '.join(str49))

Enter nth position: 4
New string after adding element at 4th position in string. My name is Pratham Kumar Singh

In [403]:
'''50. Convert a CSV string to a list of lists.'''

'50. Convert a CSV string to a list of lists.'

In [411]:
csv_string = 'Pratham, Singh, 30\nDhiraj, Singh, 32\nRauank, Singh, 34'
csv_data = []

lines = csv_string.split('\n')

for i in lines:
    if i:
        values = i.split(',')
        csv_data.append(values)
        
print(csv_data)

[['Pratham', ' Singh', ' 30'], ['Dhiraj', ' Singh', ' 32'], ['Rauank', ' Singh', ' 34']]

In [413]:
'''1. Create a list with integers from 1 to 10.'''

'1. Create a list with integers from 1 to 10.'

In [414]:
list1 = []

for i in range(1, 11):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [415]:
'''2. Find the length of a list without using the `len()` function.'''

'2. Find the length of a list without using the `len()` function.'

In [417]:
list2 = [23, 4, 4, 45, 2, 34, 5]
count = 0
for i in list2:
    count +=1
print(count)

7

In [418]:
'''3. Append an element to the end of a list.'''

'3. Append an element to the end of a list.'

In [419]:
list3 = ['pratham', 'dhiraj', 'rauank', 'niraj']

list3.append('manish')

print(list3)

['pratham', 'dhiraj', 'rauank', 'niraj', 'manish']

In [420]:
'''4. Insert an element at a specific index in a list.'''

'4. Insert an element at a specific index in a list.'

In [425]:
list4 = ['pratham', 'dhiraj', 'raunak']

list4.insert(2, 23)
print(list4)

['pratham', 'dhiraj', 23, 'raunak']

In [426]:
'''5. Remove an element from a list by its value.'''

'5. Remove an element from a list by its value.'

In [432]:
list5 = ['Patna', 'Varanasi', 'Surat', 'Ranchi']

list5.remove('Surat')

print(list5)

['Patna', 'Varanasi', 'Ranchi']

In [430]:
'''6. Remove an element from a list by its index.'''

'6. Remove an element from a list by its index.'

In [431]:
list6 = ['Patna', 'Varanasi', 'Surat', 'Ranchi']

list6.pop(2)

print(list6)

['Patna', 'Varanasi', 'Ranchi']

In [433]:
'''7. Check if an element exists in a list.'''

'7. Check if an element exists in a list.'

In [435]:
list7 = ['apple', 'orange', 'mango', 'kiwi']

if 'apple' in list7:
    print(f'apple exists in a list.')
else:
    print('apple does not exist.')

apple exists in a list.

In [436]:
'''8. Find the index of the first occurrence of an element in a list.'''

'8. Find the index of the first occurrence of an element in a list.'

In [439]:
list8 = ['singh', 'raunak', 'singh', 'pratham', 'rauank']

list8.index('raunak')

1

In [440]:
'''9. Count the occurrences of an element in a list.'''

'9. Count the occurrences of an element in a list.'

In [441]:
list9 = ['apple', 'mango', 'apple', 'kiwi', 'orange', 'mango', 'apple']

print(list9.count('apple'))

3

In [442]:
'''10. Reverse the order of elements in a list.'''

'10. Reverse the order of elements in a list.'

In [443]:
list10 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list10[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [444]:
'''11. Sort a list in ascending order.'''

'11. Sort a list in ascending order.'

In [452]:
list11 = [3, 24, 24, 22, 46, 75 ,34 ,75, 23, 86, 36]
list11.sort()
print(list11)

[3, 22, 23, 24, 24, 34, 36, 46, 75, 75, 86]

In [453]:
'''12. Sort a list in descending order.'''

'12. Sort a list in descending order.'

In [457]:
list12 = [3, 24, 24, 22, 46, 75 ,34 ,75, 23, 86, 36]
list12.sort(reverse=True)
print(list12)

[86, 75, 75, 46, 36, 34, 24, 24, 23, 22, 3]

In [458]:
'''13. Create a list of even numbers from 1 to 20.'''

'13. Create a list of even numbers from 1 to 20.'

In [459]:
list_even = []

for i in range(1, 21):
    if i%2 == 0:
        list_even.append(i)
print(list_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
'''14. Create a list of odd numbers from 1 to 20.'''

In [460]:
list_odd = []

for i in range(1, 21):
    if i%2 != 0:
        list_odd.append(i)
print(list_odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [461]:
'''15. Find the sum of all elements in a list.'''

'15. Find the sum of all elements in a list.'

In [462]:
list15 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum = 0

for i in list15:
    sum +=i
print(sum)

55

In [463]:
'''16. Find the maximum value in a list.'''

'16. Find the maximum value in a list.'

In [464]:
list16 = [3, 23, 23, 54, 25, 67, 90, 34, 56]
print(max(list16))

90

In [465]:
'''17. Find the minimum value in a list.'''

'17. Find the minimum value in a list.'

In [466]:
list17 = [3, 23, 23, 2, 54, 25, 67, 90, 34, 56]
print(min(list17))

2

In [467]:
'''18. Create a list of squares of numbers from 1 to 10.'''

'18. Create a list of squares of numbers from 1 to 10.'

In [469]:
list_squares = []

for i in range(1, 11):
    list_squares.append(i**2)
print(list_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [470]:
'''19. Create a list of random numbers.'''

'19. Create a list of random numbers.'

In [474]:
import random

list19 = []

for i in range(10):
    list19.append(random.randint(1, 100))
print(list19)

[10, 64, 48, 97, 21, 27, 64, 85, 32, 41]

In [475]:
'''20. Remove duplicates from a list.'''

'20. Remove duplicates from a list.'

In [476]:
list20 = [2, 3, 5, 24, 55, 2, 54, 64, 34, 34, 6, 24, 35, 64]
print(list(set(list20)))

[64, 2, 3, 34, 5, 6, 35, 54, 55, 24]

In [477]:
'''21. Find the common elements between two lists.'''

'21. Find the common elements between two lists.'

In [479]:
list1 = [3, 34, 32, 24, 53, 22, 2, 24, 64, 6, 3, 67, 45]
list2 = [4, 34, 5, 64, 34, 64, 34, 75, 56, 45, 34, 5, 3]
common_list = []
for i in list1:
    for j in list2:
        if i == j:
            common_list.append(i)
print(common_list)

[3, 34, 34, 34, 34, 64, 64, 3, 45]

In [480]:
'''22. Find the difference between two lists.'''

'22. Find the difference between two lists.'

In [490]:
list1 = [3, 34, 32, 24, 53, 22, 2, 24, 64, 6, 3, 67, 45]
list2 = [4, 34, 5, 64, 34, 64, 34, 75, 56, 45, 34, 5, 3]
diff_bet_list = []

for i in list1:
    if i not in list2:
        diff_bet_list.append(i)

diff_bet_list1 = []
for j in list2:
    if j not in list1:
        diff_bet_list1.append(j)

print('Elements are present in list1 but not in list2', diff_bet_list)
print('Elements are present in list2 but not in list1', diff_bet_list1)

Elements are present in list1 but not in list2 [32, 24, 53, 22, 2, 24, 6, 67]
Elements are present in list2 but not in list1 [4, 5, 75, 56, 5]

In [492]:
'''23. Merge two lists.'''

'23. Merge two lists.'

In [494]:
list1 = [1, 3, 5, 2, 5, 5]
list2 = [23, 2, 5, 3, 2, 4]

for i in list1:
    list2.append(i)
print(list2)

[23, 2, 5, 3, 2, 4, 1, 3, 5, 2, 5, 5]

In [495]:
'''24. Multiply all elements in a list by 2.'''

'24. Multiply all elements in a list by 2.'

In [507]:
list24 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list24_mul_2 = []
for i in list24:
    i *=2
    list24_mul_2.append(i)
print(list24_mul_2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [508]:
'''25. Filter out all even numbers from a list.'''

'25. Filter out all even numbers from a list.'

In [510]:
list25 = [3, 25, 242, 545, 64, 24, 2, 65, 45, 76, 43, 45]

list25_even = []

for i in list25:
    if i%2 == 0:
        list25_even.append(i)
print(list25_even)

[242, 64, 24, 2, 76]

In [511]:
'''26. Convert a list of strings to a list of integers.'''

'26. Convert a list of strings to a list of integers.'

In [513]:
list26 = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
list26_int = []
for i in list26:
    i = int(i)
    list26_int.append(i)
print(list26_int)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [514]:
'''27. Convert a list of integers to a list of strings.'''

'27. Convert a list of integers to a list of strings.'

In [4]:
list27 = [3, 4, 5, 2, 2, 25, 34, 53]
list27_str =[]
for i in list27:
    list27_str.append(str(i))
print(list27_str)

['3', '4', '5', '2', '2', '25', '34', '53']

In [5]:
'''28. Flatten a nested list.'''

'28. Flatten a nested list.'

In [19]:
list28 = ['pratham', 'dhiraj', ['singh', 'pandey' ], 'rauank']
list28_flatten = []
for i in list28:
    if type(i) == list:
        for j in i:
            list28_flatten.append(j)
    else:
        list28_flatten.append(i)
print(list28_flatten)

['pratham', 'dhiraj', 'singh', 'pandey', 'rauank']

In [20]:
'''29. Create a list of the first 10 Fibonacci numbers.'''

'29. Create a list of the first 10 Fibonacci numbers.'

In [30]:
def fab(n):
    if n<=1:
        return 1
    else:
        return fab(n-1)+fab(n-2)
fab(4)

5

In [32]:
fab_seq = [0, 1]

while len(fab_seq) <10:
    next_fib = fab_seq[-1] + fab_seq[-2]
    fab_seq.append(next_fib)
print(fab_seq)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [33]:
'''30. Check if a list is sorted.'''

'30. Check if a list is sorted.'

In [47]:
list30 = [1, 12, 3, 4, 5]

print(sorted(list30))
if list30 == sorted(list30):
    print('Given list is sorted.')
else:
    print('Given list is not sorted.')

[1, 3, 4, 5, 12]
Given list is not sorted.

In [48]:
'''31. Rotate a list to the left by `n` positions.'''

'31. Rotate a list to the left by `n` positions.'

In [66]:
list31 = [23, 13, 4, 5, 3, 23, 53]
list31_rotate = []
nth = int(input('Enter nth position: '))

for i in list31[nth:]:
    list31_rotate.append(i)
for i in list31[:nth]:
    list31_rotate.append(i)
print(list31_rotate)

Enter nth position: 3
[5, 3, 23, 53, 23, 13, 4]

In [ ]:
for i in list31[:nth]:
    list31_rotate.append(i)

In [67]:
'''32. Rotate a list to the right by `n` positions.'''

'32. Rotate a list to the right by `n` positions.'

In [80]:
list32 = [23, 43, 2, 6, 45, 23, 11, 64]
nth = int(input('Enter nth number: '))

list32_right = list32[nth:]
list32_left = list32[:nth]
list32_right.extend(list32_left)
print(list32_right)

Enter nth number: 4
[45, 23, 11, 64, 23, 43, 2, 6]

In [81]:
'''33. Create a list of prime numbers up to 50.'''

'33. Create a list of prime numbers up to 50.'

In [89]:
list_prime = []
for i in range(2, 51):
    is_prime = True
    for j in range(2, int(i**0.5)+1):
        if i%j ==0:
            is_prime = False
            break
    if is_prime:
        list_prime.append(i)
print(list_prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [90]:
'''34. Split a list into chunks of size `n`.'''

'34. Split a list into chunks of size `n`.'

In [28]:
list34 = [23, 1, 3, 5, 24, 24, 21, 86, 45, 6, 23, 5, 7, 7, 34]

n = int(input('Enter number for chunk size: '))
final_list = []
for i in range(0, len(list34), n):
    new_list = list34[i:i+n]
    final_list.append(new_list)
print(final_list)

Enter number for chunk size: 3
[[23, 1, 3], [5, 24, 24], [21, 86, 45], [6, 23, 5], [7, 7, 34]]

In [29]:
list34 = input('Enter number by space: ').split()
final_list = []
n = int(input('Enter nth number: '))

for i in range(0, len(list34), n):
    new_list = list34[i:i+n]
    final_list.append(new_list)
print(final_list)

Enter number by space: 1 2 3 4 5 6 7 8 9 10
Enter nth number: 4
[['1', '2', '3', '4'], ['5', '6', '7', '8'], ['9', '10']]

In [30]:
'''35. Find the second largest number in a list.'''

'35. Find the second largest number in a list.'

In [39]:
list35 = [23, 1, 34, 67, 43, 24, 75, 37]

result = max(list35)
list35.remove(result)
print(max(list35))

67

In [53]:
list35 = [23, 1, 34, 67, 43, 24, 75, 37]
for i in list35:
    if i == max(list35):
        list35.remove(i)
print(max(list35))

67

In [54]:
'''36. Replace every element in a list with its square.'''

'36. Replace every element in a list with its square.'

In [2]:
list36 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list36 = []
for i in list36:
    i = i**2
    new_list36.append(i)
list36 = []
list36.extend(new_list36)
print(list36)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
'''37. Convert a list to a dictionary where list elements become keys and their
indices become values.'''

'37. Convert a list to a dictionary where list elements become keys and their\nindices become values.'

In [27]:
list37 = [1, 4, 9, 16, 25, 36, 49, 64, 81]
new_dict37 = {}
for i in list37:
    new_dict37[i] = list37.index(i)
print(new_dict37)

{1: 0, 4: 1, 9: 2, 16: 3, 25: 4, 36: 5, 49: 6, 64: 7, 81: 8}

In [28]:
'''38. Shuffle the elements of a list randomly.'''

'38. Shuffle the elements of a list randomly.'

In [32]:
import random
list38 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

random.shuffle(list38)
print(list38)

[1, 4, 8, 3, 9, 6, 5, 7, 2]

In [33]:
'''39. Create a list of the first 10 factorial numbers.'''

'39. Create a list of the first 10 factorial numbers.'

In [34]:
fact_list = []
fact = 1
for i in range(1, 11):
    fact = fact*i
    fact_list.append(fact)
print(fact_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [35]:
'''40. Check if two lists have at least one element in common.'''

'40. Check if two lists have at least one element in common.'

In [39]:
list1 = [23, 34, 13, 5, 2, 5, 35, 53, 46, 3, 24]
list2 = [89, 5, 45, 2, 6, 6, 23]

for i in list1:
    for j in list2:
        if i == j:
            print(f'At least one lement is common in both list i.e. {i}')
    break

At least one lement is common in both list i.e. 23

In [40]:
'''41. Remove all elements from a list.'''

'41. Remove all elements from a list.'

In [41]:
list41 = [32, 42, 35, 24, 25, 66, 45]

list41.clear()
print(list41)

[]

In [42]:
'''42. Replace negative numbers in a list with 0.'''

'42. Replace negative numbers in a list with 0.'

In [47]:
list42 = [-4, 12, 34, -34, 23, -19, 2, 4, -3, 1]
new_list42 = []
for i in list42:
    if i < 0:
        i = 0
        new_list42.append(i)
    else:
        new_list42.append(i)
print(new_list42)

[0, 12, 34, 0, 23, 0, 2, 4, 0, 1]

In [48]:
'''43. Convert a string into a list of words.'''

'43. Convert a string into a list of words.'

In [49]:
str43 = 'My name is Pratham Singh.'
str43_list = str43.split()
print(str43_list)

['My', 'name', 'is', 'Pratham', 'Singh.']

In [50]:
'''44. Convert a list of words into a string.'''

'44. Convert a list of words into a string.'

In [51]:
list44 = ['My', 'name', 'is', 'Pratham', 'Singh']
str44 = ' '.join(list44)
print(str44)

My name is Pratham Singh

In [52]:
'''45. Create a list of the first `n` powers of 2.'''

'45. Create a list of the first `n` powers of 2.'

In [54]:
n = int(input('Enter value of n: '))

list_n = []

for i in range(0, n):
    list_n.append(i**2)
print(list_n)

Enter value of n: 5
[0, 1, 4, 9, 16]

In [55]:
'''46. Find the longest string in a list of strings.'''

'46. Find the longest string in a list of strings.'

In [56]:
list46 = ['Patna', 'Varanasi', 'Dumraon', 'Kopwaon', 'Buxar', 'Ara']

print(max(list46, key = len))

Varanasi

In [57]:
'''47. Find the shortest string in a list of strings.'''

'47. Find the shortest string in a list of strings.'

In [58]:
list47 = ['Patna', 'Varanasi', 'Dumraon', 'Kopwaon', 'Buxar', 'Ara']

print(min(list47, key = len))

Ara

In [60]:
'''48. Create a list of the first `n` triangular numbers.'''

'48. Create a list of the first `n` triangular numbers.'

In [63]:
n = int(input("Enter the number of triangular numbers to generate: "))

triangular_numbers = []
current_sum = 0

for i in range(1, n + 1):
    current_sum += i  
    triangular_numbers.append(current_sum)

print("List of the first", n, "triangular numbers:", triangular_numbers)

Enter the number of triangular numbers to generate: 3
List of the first 3 triangular numbers: [1, 3, 6]

In [64]:
'''49. Check if a list contains another list as a subsequence.'''

'49. Check if a list contains another list as a subsequence.'

In [70]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [1, 3, 5, 7, 9]
subs = False

for i in list2:
    if i in list1:
        subs = True
    else:
        subs = False
if subs:
    print('List1 contains list2 as subsequence.')
else:
    print('List1 does contains list2 as subsequence.')

List1 contains list2 as subsequence.

In [71]:
'''50. Swap two elements in a list by their indices.'''

'50. Swap two elements in a list by their indices.'

In [75]:
list50 = [10, 20]
temp = 0
temp = list50[0]
list50[0] = list50[1]
list50[1] = temp

print(list50)

[20, 10]

In [76]:
'''1. Create a tuple with integers from 1 to 5.'''

'1. Create a tuple with integers from 1 to 5.'

In [90]:
tupel_1 = ()
for i in range(1, 6):
    tupel_1 = tupel_1 + (i,)
print(tupel_1)

(1, 2, 3, 4, 5)

In [92]:
'''2. Access the third element of a tuple.'''

'2. Access the third element of a tuple.'

In [93]:
tuple2 = (10, 20, 30, 40, 50)

print(tuple2[2])

30

In [94]:
'''3. Find the length of a tuple without using the `len()` function.'''

'3. Find the length of a tuple without using the `len()` function.'

In [95]:
tuple3 = (10, 20, 30, 40, 50)
count = 0
for i in tuple3:
    count+=1
print(f'The length of tuple is {count}.')

The length of tuple is 5.

In [96]:
'''4. Count the occurrences of an element in a tuple.'''

'4. Count the occurrences of an element in a tuple.'

In [97]:
tuple4 = (1, 2, 4, 23, 53, 23, 42, 2, 53, 54, 6, 23, 2, 34)

print(tuple4.count(2))

3

In [98]:
'''5. Find the index of the first occurrence of an element in a tuple.'''

'5. Find the index of the first occurrence of an element in a tuple.'

In [99]:
tuple5 = (1, 2, 4, 23, 53, 23, 42, 2, 53, 54, 6, 23, 2, 34)
print(tuple5.index(23))

3

In [100]:
'''6. Check if an element exists in a tuple.'''

'6. Check if an element exists in a tuple.'

In [105]:
tuple6 = (1, 2, 4, 23, 53, 23, 42, 2, 53, 54, 6, 23, 2, 34)
element6 = 142
if element6 in tuple6:
    print(f'{element6} is present in tuple.')
else:
    print(f'{element6} is not present in tuple.')

142 is not present in tuple.

In [106]:
'''7. Convert a tuple to a list.'''

'7. Convert a tuple to a list.'

In [107]:
tuple7 = (1, 2, 4, 23, 53, 23, 42, 2, 53, 54, 6, 23, 2, 34)
print(list(tuple7))

[1, 2, 4, 23, 53, 23, 42, 2, 53, 54, 6, 23, 2, 34]

In [108]:
'''8. Convert a list to a tuple.'''

'8. Convert a list to a tuple.'

In [109]:
list8 = [1, 2, 4, 23, 53, 23, 42, 2, 53, 54, 6, 23, 2, 34]
print(tuple(list8))

(1, 2, 4, 23, 53, 23, 42, 2, 53, 54, 6, 23, 2, 34)

In [110]:
'''9. Unpack the elements of a tuple into variables.'''

'9. Unpack the elements of a tuple into variables.'

In [116]:
tuple9 = (1, 12, 3, 4)

a,b,c,d = list(tuple9)
print(a)
print(b)
print(c)
print(d)

1
12
3
4

In [117]:
'''10. Create a tuple of even numbers from 1 to 10.'''

'10. Create a tuple of even numbers from 1 to 10.'

In [121]:
tuple10 = ()
for i in range(1, 11):
    if i%2 == 0:
        tuple10 = tuple10 +(i,)
print(tuple10)

(2, 4, 6, 8, 10)

In [120]:
'''11. Create a tuple of odd numbers from 1 to 10.'''

'11. Create a tuple of odd numbers from 1 to 10.'

In [122]:
tuple11 = ()
for i in range(1, 11):
    if i%2 != 0:
        tuple11 = tuple11 +(i,)
print(tuple11)

(1, 3, 5, 7, 9)

In [123]:
'''12. Concatenate two tuples.'''

'12. Concatenate two tuples.'

In [124]:
tuple1 = (2, 3, 4)
tuple2 = (1, 5, 2)

print(tuple1 +tuple2)

(2, 3, 4, 1, 5, 2)

In [125]:
'''13. Repeat a tuple three times.'''

'13. Repeat a tuple three times.'

In [126]:
tuple13 = (23, 1, 24, 2)
print(tuple13*3)

(23, 1, 24, 2, 23, 1, 24, 2, 23, 1, 24, 2)

In [127]:
'''14. Check if a tuple is empty.'''

'14. Check if a tuple is empty.'

In [130]:
tuple14 = (23, 1, 24, 2)

if tuple14:
    print('Tuple is not empty.')
else:
    print('Tuple is an empty.')

Tuple is not empty.

In [138]:
'''15. Create a nested tuple.'''

'15. Create a nested tuple.'

In [139]:
tuple15 = ()

for i in range(1, 11):
    if i%2 == 0:
        tuple15 = tuple15 + (i,)
    else:
        tuple15 = tuple15 + ((i, i+1,),)
print(tuple15)

((1, 2), 2, (3, 4), 4, (5, 6), 6, (7, 8), 8, (9, 10), 10)

In [140]:
'''16. Access the first element of a nested tuple.'''

'16. Access the first element of a nested tuple.'

In [159]:
tuple16 = ((1, 2, 12), (3, 4), (5, 6))


for i in tuple16:
    if len(str(i)) == 1:
        print(tuple16[0])
        break
    else:
        print(tuple16[0][0])
        break

1

In [161]:
'''17. Create a tuple with a single element.'''

'17. Create a tuple with a single element.'

In [164]:
tuple17 = (23,)
type(tuple17)

tuple

In [165]:
'''18. Compare two tuples.'''

'18. Compare two tuples.'

In [168]:
tuple11 = (23, 13, 4, 1, 5)
tuple22 = (12, 3, 2, 1, 45, 4)

print('tuple11 == tuple22: ', tuple11 == tuple22)
print('tuple11 != tuple22:', tuple11 != tuple22)
print('tuple11 > tuple22:', tuple11 > tuple22)
print('tuple11 < tuple22:', tuple11 < tuple22)
print('tuple11 >= tuple22:', tuple11 >= tuple22)
print('tuple11 <= tuple22:', tuple11 <= tuple22)

tuple11 == tuple22:  False
tuple11 != tuple22: True
tuple11 > tuple22: True
tuple11 < tuple22: False
tuple11 >= tuple22: True
tuple11 <= tuple22: False

In [169]:
'''19. Delete a tuple.'''

'19. Delete a tuple.'

In [170]:
tuple19 = (23, 13, 4, 1, 5)

del tuple19

print(tuple19)

NameError: name 'tuple19' is not defined

In [171]:
'''20. Slice a tuple.'''

'20. Slice a tuple.'

In [172]:
tuple20 = (23, 23, 42, 6, 3, 24, 2, 4)

In [173]:
print(tuple20[3:5])

(6, 3)

In [174]:
'''21. Find the maximum value in a tuple.'''

'21. Find the maximum value in a tuple.'

In [175]:
tuple21 = (23, 23, 42, 6, 3, 24, 2, 4)
print(max(tuple21))

42

In [176]:
'''22. Find the minimum value in a tuple.'''

'22. Find the minimum value in a tuple.'

In [177]:
tuple22 = (23, 23, 42, 6, 3, 24, 2, 4)
print(min(tuple22))

2

In [178]:
'''23. Convert a string to a tuple of characters.'''

'23. Convert a string to a tuple of characters.'

In [179]:
str23 = 'My name is Pratham Singh.'

print(tuple(str23))

('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'P', 'r', 'a', 't', 'h', 'a', 'm', ' ', 'S', 'i', 'n', 'g', 'h', '.')

In [180]:
'''24. Convert a tuple of characters to a string.'''

'24. Convert a tuple of characters to a string.'

In [182]:
tuple24 = ('M', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'P', 'r', 'a', 't', 'h', 'a', 'm', ' ', 'S', 'i', 'n', 'g', 'h', '.')

print(''.join(tuple24))

My name is Pratham Singh.

In [183]:
'''25. Create a tuple from multiple data types.'''

'25. Create a tuple from multiple data types.'

In [186]:
tuple25 = (23, 'Pratham', True, 23.2)
print(type(tuple25))
print(tuple25)

<class 'tuple'>
(23, 'Pratham', True, 23.2)

In [187]:
'''26. Check if two tuples are identical.'''

'26. Check if two tuples are identical.'

In [195]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (1, 3, 2)
tuple4 = (1, 2, 5)

print('Both tuple are identical: ', tuple1 == tuple2)
print('Both tuple are not identical: ', tuple1 == tuple3)
print('Both tuple are not identical: ', tuple4 == tuple2)

Both tuple are identical:  True
Both tuple are not identical:  False
Both tuple are not identical:  False

In [196]:
'''27. Sort the elements of a tuple.'''

'27. Sort the elements of a tuple.'

In [198]:
tuple27 = (23, 2, 5, 64, 22, 57)

print(sorted(tuple27))

[2, 5, 22, 23, 57, 64]

In [199]:
'''28. Convert a tuple of integers to a tuple of strings.'''

'28. Convert a tuple of integers to a tuple of strings.'

In [203]:
tuple28 = (23, 5, 2, 25, 35, 75 ,33)
tuple_string = ()

for i in tuple28:
    i = str(i)
    tuple_string += (i,)
print(tuple_string)

('23', '5', '2', '25', '35', '75', '33')

In [204]:
'''29. Convert a tuple of strings to a tuple of integers.'''

'29. Convert a tuple of strings to a tuple of integers.'

In [206]:
tuple29 = ('23', '5', '2', '25', '35', '75', '33')
tuple_int = ()
for i in tuple29:
    i = int(i)
    tuple_int += (i,)
print(tuple_int)

(23, 5, 2, 25, 35, 75, 33)

In [207]:
'''30. Merge two tuples.'''

'30. Merge two tuples.'

In [208]:
tuple1 = (43, 2, 24, 5)
tuple2 = (3, 57, 4, 23)

print(tuple1+tuple2)

(43, 2, 24, 5, 3, 57, 4, 23)

In [209]:
'''31. Flatten a nested tuple.'''

'31. Flatten a nested tuple.'

In [222]:
tuple31 = (3, 24, (4, 5, 21), 35, 56)
flattened = []
for i in tuple31:
    if isinstance(i, tuple):
        for j in i:
            flattened.append(j)
    else:
        flattened.append(i)
print(tuple(flattened))

(3, 24, 4, 5, 21, 35, 56)

In [223]:
'''32. Create a tuple of the first 5 prime numbers.'''

'32. Create a tuple of the first 5 prime numbers.'

In [245]:
prime_nums = []

def is_prime(num):
    if num <= 1:
        return False
    else:
        for i in range(2, int(num**0.5)+1):
            if num%i == 0:
                return False
                break
        return True

result = [x for x in range(2, 100) if is_prime(x)][:5]
print(result)

[2, 3, 5, 7, 11]

In [246]:
'''33. Check if a tuple is a palindrome.'''

'33. Check if a tuple is a palindrome.'

In [248]:
tuple33 = (1, 3, 2, 3, 1)

if tuple33 == tuple33[::-1]:
    print('Given tuple is palindrome')
else:

(2, 3, 1)

In [249]:
'''34. Create a tuple of squares of numbers from 1 to 5.'''

'34. Create a tuple of squares of numbers from 1 to 5.'

In [250]:
tuple34 = ()
for i in range(1, 6):
    i = i**2
    tuple34+= (i,)
print(tuple34)

(1, 4, 9, 16, 25)

In [251]:
'''35. Filter out all even numbers from a tuple.'''

'35. Filter out all even numbers from a tuple.'

In [253]:
tuple35 = (4, 34, 5, 2, 5, 34, 56, 24, 45, 45, 63, 23)
new_tuple35 = ()
for i in tuple35:
    if i%2 == 0:
        new_tuple35 += (i,)
print(new_tuple35)

(4, 34, 2, 34, 56, 24)

In [254]:
'''36. Multiply all elements in a tuple by 2.'''

'36. Multiply all elements in a tuple by 2.'

In [256]:
tuple36 = (4, 34, 5, 2, 5, 34, 56, 24, 45, 45, 63, 23)
new_tuple36 = ()
for i in tuple36:
    i = i*2
    new_tuple36+= (i,)
print(new_tuple36)

(8, 68, 10, 4, 10, 68, 112, 48, 90, 90, 126, 46)

In [257]:
'''37. Create a tuple of random numbers.'''

'37. Create a tuple of random numbers.'

In [262]:
import random

tuple36 = ()
for i in range(1, 10):
    i = random.randint(1, 100)
    tuple36+= (i,)
print(tuple36)

(55, 42, 97, 23, 62, 49, 39, 19, 24)

In [263]:
'''38. Check if a tuple is sorted.'''

'38. Check if a tuple is sorted.'

In [266]:
tuple38 = (4, 34, 5, 2, 5, 34, 56, 24, 45, 45, 63, 23)

if tuple38 == sorted(tuple38):
    print('Given tuple is sorted.')
else:
    print('Given tuple is nor sorted.')

Given tuple is nor sorted.

In [267]:
'''39. Rotate a tuple to the left by `n` positions.'''

'39. Rotate a tuple to the left by `n` positions.'

In [280]:
tuple39 = (4, 34, 5, 2, 5, 34, 56, 24, 45, 45, 63, 23)
n = int(input('Enter nth number: '))
new_tuple39 = ()
right_part_tuple = tuple39[0:n]
print(right_part_tuple)
left_part_tuple = tuple39[n:]
print(left_part_tuple)
new_tuple39+=left_part_tuple
new_tuple39+=right_part_tuple
print(new_tuple39)

Enter nth number: 4
(4, 34, 5, 2)
(5, 34, 56, 24, 45, 45, 63, 23)
(5, 34, 56, 24, 45, 45, 63, 23, 4, 34, 5, 2)

In [281]:
'''40. Rotate a tuple to the right by `n` positions.'''

'40. Rotate a tuple to the right by `n` positions.'

In [282]:
tuple40 = (4, 34, 5, 2, 5, 34, 56, 24, 45, 45, 63, 23)
n = int(input('Enter nth number: '))
new_tuple40 = ()
right_part_tuple = tuple40[0:n]
print(right_part_tuple)
left_part_tuple = tuple40[n:]
print(left_part_tuple)
new_tuple40+=right_part_tuple
new_tuple40+=left_part_tuple
print(new_tuple40)

Enter nth number: 3
(4, 34, 5)
(2, 5, 34, 56, 24, 45, 45, 63, 23)
(4, 34, 5, 2, 5, 34, 56, 24, 45, 45, 63, 23)

In [283]:
'''41. Create a tuple of the first 5 Fibonacci numbers.'''

'41. Create a tuple of the first 5 Fibonacci numbers.'

In [289]:
def fib(n):
    if n <=1:
        return n
    else:
        return fib(n-1) +fib(n-2)
result = [fib(x) for x in range(0, 5)]
print(tuple(result))

(0, 1, 1, 2, 3)

In [290]:
'''42. Create a tuple from user input.'''

'42. Create a tuple from user input.'

In [293]:
tuple42 = tuple(input('Enter number by space: ').split())
print(tuple42)
print(type(tuple42))

Enter number by space: 1 2 3 4 5 6 7 8
('1', '2', '3', '4', '5', '6', '7', '8')
<class 'tuple'>

In [294]:
'''43. Swap two elements in a tuple.'''

'43. Swap two elements in a tuple.'

In [303]:
tuple43 = (20, 30)
tuple43 = (tuple43[1], tuple43[0])
print(tuple43)

(30, 20)

In [304]:
'''44. Reverse the elements of a tuple.'''

'44. Reverse the elements of a tuple.'

In [305]:
tuple44 = (23, 1, 4, 55, 34, 6, 3)
print(tuple44[::-1])

(3, 6, 34, 55, 4, 1, 23)

In [306]:
'''45. Create a tuple of the first `n` powers of 2.'''

'45. Create a tuple of the first `n` powers of 2.'

In [308]:
n = int(input('Enter nth value: '))
tuple45 = ()
for i in range(1, n):
    i = i**2
    tuple45 += (i,)
print(tuple45)

Enter nth value: 4
(1, 4, 9)

In [309]:
'''46. Find the longest string in a tuple of strings.'''

'46. Find the longest string in a tuple of strings.'

In [312]:
tuple46 = ('pratham', 'dhiraj', 'raunak', 'sapna')
max(tuple46, key=len)

'pratham'

In [313]:
'''47. Find the shortest string in a tuple of strings.'''

'47. Find the shortest string in a tuple of strings.'

In [314]:
tuple47 = ('pratham', 'dhiraj', 'raunak', 'sapna')
min(tuple47, key=len)

'sapna'

In [315]:
'''48. Create a tuple of the first `n` triangular numbers.'''

'48. Create a tuple of the first `n` triangular numbers.'

In [316]:
n = 5

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [317]:
'''49. Check if a tuple contains another tuple as a subsequence.'''

'49. Check if a tuple contains another tuple as a subsequence.'

In [322]:
tuple49 = (23, 1, 3, (23, 2, 4), 45, 34)

for i in tuple49:
    if type(i) == tuple:
        print('Given tuple contain another subsequence.')
        break

Given tuple contain another subsequence.

In [323]:
'''50. Create a tuple of alternating 1s and 0s of length `n`.'''

'50. Create a tuple of alternating 1s and 0s of length `n`.'

In [325]:
tuple50 = []
n = int(input('Enter nth number: '))
for i in range(n):
    tuple50+= (i%2,)
print(tuple50)

Enter nth number: 5
[0, 1, 0, 1, 0]

In [326]:
'''1. Create a set with integers from 1 to 5.'''

'1. Create a set with integers from 1 to 5.'

In [339]:
set1 = set()
for i in range(1, 6):
    set1.add(i)
print(set1)

{1, 2, 3, 4, 5}

In [340]:
'''2. Add an element to a set.'''

'2. Add an element to a set.'

In [342]:
set2 = {1, 2, 3, 4, 5}
set2.add(21)
print(set2)

{1, 2, 3, 4, 5, 21}

In [343]:
'''3. Remove an element from a set.'''

'3. Remove an element from a set.'

In [345]:
set3 = {1, 12, 3, 4, 5, 21}

set3.remove(12)
print(set3)

{1, 3, 4, 5, 21}

In [346]:
'''4. Check if an element exists in a set.'''

'4. Check if an element exists in a set.'

In [350]:
set4 = {1, 12, 3, 4, 5, 21}

if 21 in set4:
    print(f'{21} is exists in set4.')
else:
    print(f'{21} does not exists in set4.')

21 is exists in set4.

In [351]:
'''5. Find the length of a set without using the `len()` function.'''

'5. Find the length of a set without using the `len()` function.'

In [353]:
set5 = {1, 12, 3, 4, 5, 21}
count = 0
for i in set5:
    count+=1
print(count)

6

In [354]:
'''6. Clear all elements from a set.'''

'6. Clear all elements from a set.'

In [356]:
set6 = {1, 12, 3, 4, 5, 21}
set6.clear()
print(set6)

set()

In [357]:
'''7. Create a set of even numbers from 1 to 10.'''

'7. Create a set of even numbers from 1 to 10.'

In [360]:
set7 = set()

for i in range(1, 11):
    if i%2 == 0:
        set7.add(i)
print(set7)

{2, 4, 6, 8, 10}

In [361]:
'''8. Create a set of odd numbers from 1 to 10.'''

'8. Create a set of odd numbers from 1 to 10.'

In [363]:
set8 = set()

for i in range(1, 11):
    if i%2 != 0:
        set8.add(i)
print(set8)

{1, 3, 5, 7, 9}

In [364]:
'''9. Find the union of two sets.'''

'9. Find the union of two sets.'

In [366]:
set11 = {1, 3, 5, 7, 9}
set22 = {2, 4, 6, 18, 10}
print(set11.union(set22))

{1, 2, 3, 4, 5, 6, 7, 9, 10, 18}

In [367]:
'''10. Find the intersection of two sets.'''

'10. Find the intersection of two sets.'

In [369]:
set11 = {1, 3, 5, 7, 9, 2, 4}
set22 = {2, 4, 6, 18, 10}
print(set11.intersection(set22))

{2, 4}

In [370]:
'''11. Find the difference between two sets.'''

'11. Find the difference between two sets.'

In [372]:
set11 = {1, 3, 5, 7, 9, 2, 4}
set22 = {2, 4, 6, 18, 10}

print(set11.difference(set22))

{1, 3, 5, 7, 9}

In [373]:
'''12. Check if a set is a subset of another set.'''

'12. Check if a set is a subset of another set.'

In [376]:
set11 = {1, 3, 5, 7, 9, 2, 4}
set22 = {2, 4}
if set22.issubset(set11):
    print(f'{set22} is subset of {set11}.')

{2, 4} is subset of {1, 2, 3, 4, 5, 7, 9}.

In [377]:
'''13. Check if a set is a superset of another set.'''

'13. Check if a set is a superset of another set.'

In [378]:
set11 = {1, 3, 5, 7, 9, 2, 4}
set22 = {2, 4}
if set22.issubset(set11):
    print(f'{set22} is subset of {set11}.')

{2, 4} is subset of {1, 2, 3, 4, 5, 7, 9}.

In [379]:
'''14. Create a set from a list.'''

'14. Create a set from a list.'

In [380]:
list14 = [23, 1, 22, 3, 5, 26, 5]
set14 = set()

for i in list14:
    set14.add(i)
print(set14)

{1, 3, 5, 22, 23, 26}

In [381]:
'''15. Convert a set to a list.'''

'15. Convert a set to a list.'

In [382]:
set15 = {1, 3, 5, 22, 23, 26}
list15 = []
for i in set15:
    list15.append(i)
print(list15)

[1, 3, 5, 22, 23, 26]

In [383]:
'''16. Remove a random element from a set.'''

'16. Remove a random element from a set.'

In [394]:
import random
set16 = {1, 3, 5, 22, 23, 26}
random_element = random.choice(list(set16))
set16.remove(random_element)
print(set16)

{1, 3, 5, 23, 26}

In [395]:
'''17. Pop an element from a set.'''

'17. Pop an element from a set.'

In [400]:
set17 = {1, 3, 5, 22, 23, 26}
set17.pop()
print(set17)

{3, 5, 22, 23, 26}

In [402]:
'''18. Check if two sets have no elements in common.'''

'18. Check if two sets have no elements in common.'

In [405]:
set1 = {23, 1, 13, 54, 2}
set2 = {21, 5, 7, 34, 1}
if set1.intersection(set2):
    print('There is common element in both set.')
else:
    print('There is no common element in both set.')

There is common element in both set.

In [407]:
'''19. Find the symmetric difference between two sets.'''

'19. Find the symmetric difference between two sets.'

In [409]:
set1 = {23, 1, 13, 54, 2}
set2 = {21, 5, 7, 34, 1}
set1.symmetric_difference(set2)

{2, 5, 7, 13, 21, 23, 34, 54}

In [411]:
'''20. Update a set with elements from another set.'''

'20. Update a set with elements from another set.'

In [419]:
set1 = {23, 1, 13, 54, 2}
set2 = {21, 5, 7, 34, 1}
set1.update(set2)
print(set1)

{1, 2, 34, 5, 7, 13, 21, 54, 23}

In [420]:
'''21. Create a set of the first 5 prime numbers.'''

'21. Create a set of the first 5 prime numbers.'

In [1]:
def prime_nums(num):
    if num<=1:
        return False
    for i in range(2, int(num**0.5)+1):
        if num%i == 0:
            return False
        else:
            return True
    return True
prime_set = set()
n = 2
while len(prime_set) <5:
    if prime_nums(n):
        prime_set.add(n)
    n +=1
print(prime_set)

{2, 3, 5, 7, 9}

In [2]:
'''22. Check if two sets are identical.'''

'22. Check if two sets are identical.'

In [4]:
set1 = {2, 4, 1, 5}
set2 = {5, 2, 4, 1}

if set1 == set2:
    print(f'{set1} and {set2} are identical.')
else:
    print(f'{set1} and {set2} are not identical.')

{1, 2, 4, 5} and {1, 2, 4, 5} are identical.

In [5]:
'''23. Create a frozen set.'''

'23. Create a frozen set.'

In [11]:
set23 = {2, 4, 6, 3}
frozen_set = frozenset(set23)
if type(frozen_set) == frozenset:
    print(f'Given set {frozen_set} is frozen set.')

Given set frozenset({2, 3, 4, 6}) is frozen set.

In [12]:
'''24. Check if a set is disjoint with another set.'''

'24. Check if a set is disjoint with another set.'

In [13]:
set1 = {1, 2, 4, 5, 6}
set2 = {2, 4, 5, 2}

if set1.isdisjoint(set2) == True:
    print('set1 is disjoint.')
else:
    print('set1 is not dijoint')

set1 is not dijoint

In [14]:
'''25. Create a set of squares of numbers from 1 to 5.'''

'25. Create a set of squares of numbers from 1 to 5.'

In [15]:
set_squares = set()

for i in range(1, 6):
    i = i**2
    set_squares.add(i)
print(set_squares)

{1, 4, 9, 16, 25}

In [16]:
'''26. Filter out all even numbers from a set.'''

'26. Filter out all even numbers from a set.'

In [17]:
set26 = {23, 5, 34, 4, 6, 34, 64}
for i in set26:
    if i%2 == 0:
        print(i)

64
34
4
6

In [18]:
'''27. Multiply all elements in a set by 2.'''

'27. Multiply all elements in a set by 2.'

In [20]:
set27 = {23, 5, 34, 4, 6, 34, 64}
new_set27 = set()

for i in set27:
    i = i*2
    new_set27.add(i)
print(new_set27)

{128, 68, 8, 10, 12, 46}

In [21]:
'''28. Create a set of random numbers.'''

'28. Create a set of random numbers.'

In [24]:
import random
set28 = set()
for i in range(1, 10):
    i = random.randint(1, 100)
    set28.add(i)
print(set28)

{64, 37, 5, 75, 79, 22, 59, 61, 62}

In [27]:
'''29. Check if a set is empty.'''

set29 = set()

if not set29:
    print('Given set is empty.')
else:
    print('Given set is not empty.')

Given set is empty.

In [28]:
'''30. Create a nested set (hint: use frozenset).'''

'30. Create a nested set (hint: use frozenset).'

In [29]:
nested_set1 = frozenset({2, 3, 4, 23, 24})
nested_set2 = frozenset({23, 23, 22, 2})

nested_set = {nested_set1, nested_set2}
print(nested_set)

{frozenset({2, 3, 4, 23, 24}), frozenset({2, 22, 23})}

In [30]:
'''31. Remove an element from a set using the discard method.'''

'31. Remove an element from a set using the discard method.'

In [33]:
set31 = {3, 23, 24, 53, 32}
set31.discard(23)
print(set31)

{32, 3, 53, 24}

In [34]:
'''32. Compare two sets.'''

'32. Compare two sets.'

In [35]:
set1 = {3, 5, 3, 2, 64, 23}
set2 = {43, 34, 23, 5, 3, 5}

is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
is_union = set1.union(set2)
is_intersection = set1.intersection(set2)
difference_1 = set1.difference(set2)
difference_2 = set2.difference(set1)

print('Is set1 is subset of set2', is_subset)
print('Is set2 is subset of set1', is_superset)
print('Union of set1 and set2', is_union)
print('Intersection of set1 and set2', is_intersection)
print('Elements in set1 but not in set2', difference_1)
print('Elements in set2 bur not in set1', difference_2)

Is set1 is subset of set2 False
Is set2 is subset of set1 False
Union of set1 and set2 {64, 2, 3, 34, 5, 43, 23}
Intersection of set1 and set2 {3, 5, 23}
Elements in set1 but not in set2 {64, 2}
Elements in set2 bur not in set1 {34, 43}

In [36]:
'''33. Create a set from a string.'''

'33. Create a set from a string.'

In [37]:
str33 = ['pratham', 'dhiraj', 'raunak', 'niraj']

set33 = set()

for i in str33:
    set33.add(i)
print(set33)

{'dhiraj', 'pratham', 'niraj', 'raunak'}

In [38]:
'''34. Convert a set of strings to a set of integers.'''

'34. Convert a set of strings to a set of integers.'

In [39]:
set_str = {'1', '2', '3', '4', '5'}
set_int = set()
for i in set_str:
    i = int(i)
    set_int.add(i)
print(set_int)

{1, 2, 3, 4, 5}

In [40]:
'''35. Convert a set of integers to a set of strings.'''

'35. Convert a set of integers to a set of strings.'

In [41]:
set_int = {1, 2, 3, 4, 5}
set_str = set()

for i in set_int:
    i = str(i)
    set_str.add(i)
print(set_str)

{'4', '1', '2', '3', '5'}

In [42]:
'''36. Create a set from a tuple.'''

'36. Create a set from a tuple.'

In [44]:
tuple36 = (1, 3, 2, 3, 12, 53, 4)
set36 = set()
for i in tuple36:
    set36.add(i)
print(set36)

{1, 2, 3, 4, 12, 53}

In [45]:
'''37. Convert a set to a tuple.'''

'37. Convert a set to a tuple.'

In [47]:
set37 = {1, 2, 3, 4, 12, 53}
tuple37 = ()
for i in set37:
    tuple37+= (i,)
print(tuple37)

(1, 2, 3, 4, 12, 53)

In [48]:
'''38. Find the maximum value in a set.'''

'38. Find the maximum value in a set.'

In [49]:
set38 = {1, 2, 3, 4, 12, 53}

print(max(list(set38)))

53

In [50]:
'''39. Find the minimum value in a set.'''

'39. Find the minimum value in a set.'

In [51]:
set39 = {1, 2, 3, 4, 12, 53}

print(min(list(set39)))

1

In [52]:
'''40. Create a set from user input.'''

'40. Create a set from user input.'

In [54]:
set40 = set(input('Enter number with space: ').split())
print(set40)

Enter number with space:
set()

In [55]:
'''41. Check if the intersection of two sets is empty.'''

'41. Check if the intersection of two sets is empty.'

In [56]:
set1 = {3, 4, 2, 5, 34}
set2 = {23, 23, 53, 63}

if set1.intersection(set2):
    print('Intersection of these two sets are not empty.')
else:
    print('Intersection of these two sets are empty.')

Intersection of these two sets are empty.

In [57]:
'''42. Create a set of the first 5 Fibonacci numbers.'''

'42. Create a set of the first 5 Fibonacci numbers.'

In [68]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1) + fib(n-2)
result = {fib(n) for n in range(0, 5)}
print(result)

{0, 1, 2, 3}

In [69]:
'''43. Remove duplicates from a list using sets.'''

'43. Remove duplicates from a list using sets.'

In [70]:
list43 = [23, 42, 2, 5, 32, 4, 3, 3, 45, 32, 5]
print(list(set(list43)))

[32, 2, 3, 4, 5, 42, 45, 23]

In [71]:
'''44. Check if two sets have the same elements, regardless of their count.'''

'44. Check if two sets have the same elements, regardless of their count.'

In [74]:
set1 = {3, 4, 2, 5, 34}
set2 = {3, 34, 4, 5, 2}

if set(sorted(list(set1))) == set(sorted(list(set2))):
    print('Given two sets have the same elements, regardless of their count')
else:
    print('Given two sets dont have the same elements, regardless of their count')

Given two sets have the same elements, regardless of their count

In [75]:
'''45. Create a set of the first `n` powers of 2.'''

'45. Create a set of the first `n` powers of 2.'

In [76]:
n = int(input('Entet any numberJ: '))
set45 = set()
for i in range(1, n+1):
    i = i**2
    set45.add(i)
print(set45)

Entet any numberJ: 5
{1, 4, 9, 16, 25}

In [77]:
'''46. Find the common elements between a set and a list.'''

'46. Find the common elements between a set and a list.'

In [79]:
set46 = {23, 2, 2, 42, 25, 56, 34, 34}
list46 = [23, 23, 34, 23, 5, 64, 3, 54]

result = set46.intersection(set(list46))
print(f'The coomin elements between a set and a list is {result}.')

The coomin elements between a set and a list is {34, 23}.

In [80]:
'''47. Create a set of the first `n` triangular numbers.'''

'47. Create a set of the first `n` triangular numbers.'

In [81]:
'''48. Check if a set contains another set as a subset.'''

'48. Check if a set contains another set as a subset.'

In [83]:
set1 = {3, 4, 2, 5, 23, 2, 53, 34}
set2 = {34, 2, 3, 2, 23}

if set2.issubset(set1):
    print('set2 is subset of set1.')
elif set1.issubset(set2):
    print('set1 is subset of set2.')
else:
    print('There is no subset of anyset.')

set2 is subset of set1.

In [84]:
'''49. Create a set of alternating 1s and 0s of length `n`.'''

'49. Create a set of alternating 1s and 0s of length `n`.'

In [90]:
n = int(input('Enter nth value: '))
set49 = set()
list49 = []
for i in range(1, n+1):
    i = i%2
    set49.add(i)
    list49.append(i)
    
print(set49)

Enter nth value: 6
{0, 1}

In [92]:
'''50. Merge multiple sets into one.'''

'50. Merge multiple sets into one.'

In [94]:
set1 = {1, 3, 53, 2, 45}
set2 = {43, 2, 5, 23, 5}
set3 = {32, 45, 65, 32, 23}

print('Merged set is: ', set1.union(set2, set3))

Merged set is:  {32, 1, 2, 3, 65, 5, 43, 45, 53, 23}